<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="message">
                <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                <p>
                {{ message }}
                </p>
            </div>
        {% endfor %}
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>